region = "us-east-1"
raw_bucket = "YOUR-ACCOUNT-docgpt-raw"
processed_bucket = "YOUR-ACCOUNT-docgpt-processed"
ddb_table = "docgpt"
app_url = "http://localhost:3000"
chat_zip = "dist/chat-lambda.zip"
ingest_zip = "dist/ingest.zip"
